@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Primary */
  --color-primary: hsl(220, 98%, 61%);
  --background-check: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --color-check: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Neutral */
  --color-gray-50: hsl(0, 0%, 98%);
  --purple-300: hsl(234, 39%, 85%);
  --gray-300: hsl(233, 11%, 84%);
  --gray-600: hsl(236, 9%, 61%);
  --navy-850: hsl(235, 19%, 35%);

  /* Dark theme */
  --navy-950: hsl(235, 21%, 11%);
  --navy-900: hsl(235, 24%, 19%);
  --purple-300: hsl(234, 39%, 85%);
  --purple-100(hover): hsl(236, 33%, 92%);
  --purple-600: hsl(235, 16%, 43%);
  --purple-700: hsl(233, 14%, 35%);
  --purple-800: hsl(237, 14%, 26%);
  --gray-600: hsl(236, 9%, 61%);

  --font-weight-400: 400;
  --font-weight-700: 700;
}

:root {
  font-family: 'Josefin Sans', sans-serif;
}

@layer components {
  .bg-check {
    background: var(--background-check);
  }
}
